<ion-header>
  <ion-navbar>
    <ion-title>Lista de Nomes</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  
  <ion-fab top right edge>
    <button ion-fab (click)="addItem($event)"><ion-icon name="add"></ion-icon></button>
  </ion-fab>

  <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
  <ion-list>
    <ion-item *ngFor="let item of items">
      <h3>{{item.name}}</h3>
      <button ion-button clear item-right (click)="itemTapped($event, item)">
        <ion-icon ios="ios-create" md="md-create"></ion-icon>
      </button>
    </ion-item>
  </ion-list>
</ion-content>
