<ion-header>
  <ion-navbar>
    <button menuToggle *ngIf="!selectedItem">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Alterar Nome</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <form (ngSubmit)="saveName()">
    <ion-item>
      <ion-label floating>Nome</ion-label>
      <ion-input type="text" [(ngModel)]="selectedItem.name" name="name"></ion-input>
    </ion-item>

    <button ion-button block type="submit"> Salvar </button>
  </form>

</ion-content>
